* {
    margin: 0px;
    padding: 0px;
    font-size: 1vw;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NCDE{
    color: white;
    font-size: 4em;
    font-family: Changa One;
    margin: 0px 20px;
}

.navright{
    margin: 0px 18px;
}

.title {
    font-size: 4.5vw;
}

.body {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


.eventForm {
    display: flex;
    justify-content: space-between;

}

.subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyForm {
    display: flex;
    justify-content: space-around;
}

.likes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addEvent {
    background-color: blue;
    color: white;
    padding:20px;
}

.adopt {
    background-color: rgb(205, 7, 7);
    color: white;
    padding: 5px 18px;
}

.likebtn {
    background-color: green;
    color: white;
    padding: 5px 20px;
}